In [ ]:
#American Standard code for Information Interchange(ASCII)

In [1]:
mystring1 = "Anna rakesh gupta"
print(mystring1)

Anna rakesh gupta

In [2]:
mystring2 = 'Anna rakesh gupta'
print(mystring2)

Anna rakesh gupta

In [5]:
mystring3 = '''Anna rakesh gupta'''
print(mystring3)

Anna rakesh gupta

In [6]:
mystring1

'Anna rakesh gupta'

In [7]:
mystring1[5]

'r'

In [8]:
mystring1[0]

'A'

In [9]:
mystring1[-2]

't'

In [11]:
mystring1[12:]

'gupta'

In [13]:
mystring1[5:11]

'rakesh'

In [16]:
mystring1[-7:-13:-1]

'hsekar'

In [18]:
mystring1[15]

't'

In [19]:
mystring1[20]

IndexError: string index out of range

In [20]:
mystring1[1.5]

TypeError: string indices must be integers, not 'float'

In [21]:
# string is immutable data type
mystring = "Hello"
mystring[4] = 's'

TypeError: 'str' object does not support item assignment

In [22]:
del mystring

In [23]:
mystring

NameError: name 'mystring' is not defined

In [24]:
#concatenation

s1 = "hello"
s2 = "Good Night"

s1 + s2

'helloGood Night'

In [25]:
s1 + ' ' + s2

'hello Good Night'

In [26]:
s1 = "hello "
s2 = "Good Night"
s1 + s2

'hello Good Night'

In [27]:
s1 = "hello"
s2 = " Good Night"
s1 + s2

'hello Good Night'

In [28]:
s1 * 3

'hellohellohello'

In [29]:
s1 = "hello "
s1 * 3

'hello hello hello '

In [30]:
mystring1 = "Anna rakesh gupta"

for i in mystring1:
    print(i)

A
n
n
a

r
a
k
e
s
h

g
u
p
t
a

In [31]:
for i in mystring1:
    print(i, end = '')

Anna rakesh gupta

In [ ]:
"hello world"
how many 'o' is present in this string

In [32]:
print(str.count("o"))

NameError: name 'Print' is not defined

In [33]:
count = 0
for l in "hello world":
    if l == 'o':
        count = count + 1
print(count)

2

In [35]:


Str ="hello world"
print(Str.count("o"))

2

In [36]:
'l' in 'Hello world'

True

In [37]:
'x' in 'Hello world'

False

In [38]:
"hello".upper()

'HELLO'

In [39]:
"HyLLO".lower()

'hyllo'

In [40]:
"This will split all the words in a list".split()

['This', 'will', 'split', 'all', 'the', 'words', 'in', 'a', 'list']

In [41]:
' '.join(['This', 'will', 'split', 'all', 'the', 'words', 'in', 'a', 'list'])

'This will split all the words in a list'

In [42]:
"This will, split all the words, in a list".split(',')

['This will', ' split all the words', ' in a list']

In [43]:
"Good Morning".find("Mo")

5

In [44]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning

In [ ]:
# write a python program to check where the string is palindrome or not?

In [ ]:
mystring = 'Madam'

In [51]:
st = "MaDam"
st = st.lower()

rev = reversed(st)

if list(st) == list(rev):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [60]:
n = input ("enter a string")
n = n.lower()
if n ==n[::-1]:
    print(n+" is a pallindrom")
else:
     print(n+" is not a pallindrom")

enter a stringDad
dad is a pallindrom

In [53]:
st = 'madam'

rev = reversed(st)

rev

In [64]:
s1 = "DAd"
s1 = s1.lower()

revs = reversed(s1)

print(list(s1))
print(list(revs))

['d', 'a', 'd']
['d', 'a', 'd']

In [ ]:
#write a program to sord words in Alphabetic order

In [65]:
mylist = [1,2,3,[]]
mylist.pop()
mylist

[1, 2, 3]

In [66]:
mylist = [1,2,[],3]

In [69]:
mylist.remove(0)
mylist

ValueError: list.remove(x): x not in list

In [72]:
mylist = [1,2,[],[],3]

In [74]:
mylist.remove([])
mylist

[1, 2, 3]

In [75]:
mylist = [1,2,3,4,[],[], 5, 6, 7, 8]
[i for i in mylist if type(mylist) == int]

[]

In [76]:
mylist = [1,2,3,4,[],[], 5, 6, 7, 8]

In [77]:
[i for i in mylist if type(i) == int]

[1, 2, 3, 4, 5, 6, 7, 8]

In [78]:
[i for i in mylist if i]

[1, 2, 3, 4, 5, 6, 7, 8]